.chip{

    display: flex;
    flex-direction: row;
    margin: 3px 0;
    border-radius: 15px 20px 20px 15px;
    transition: all 0.1s;
    position: relative;
    left: 0;
    height: 0;
    opacity: 0;
    &:hover{
        position: relative;
        left: 5px;
    }
    &.show{
    height: auto;
    opacity: 1;
    }
}

.chip-attribute{
    border-radius: 50%;
    border: 3px black solid;
    max-height: 25px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    left: 5px;

}
.chip-count{ 
    background: rgb(34, 34, 44);
    padding: 0 10px;
    border-radius: 10px 20px 20px 10px;
}

.chip-name{

    width: 100%;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}